<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @property.adress %>
</p>

<p>
  <strong>Age:</strong>
  <%= @property.age %>
</p>

<p>
  <strong>Note:</strong>
  <%= @property.note %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @property.rent %>
</p>


<hr>
<% if @first_nearest_station%>
 <h2>Nearest Station 1</h2>
 <p><Strong>Line Name : </Strong><%=@first_nearest_station.line_name%></p>
<p><Strong>Station Name : </Strong><%=@first_nearest_station.station_name%></p>
<p><Strong>Number of steps : </Strong><%=@first_nearest_station.number_of_steps%></p>
<%end%>
<% if @second_nearest_station %>
 <h2>Nearest Station 2</h2>
 <p><Strong>Line Name : </Strong><%=@second_nearest_station.line_name%></p>
<p><Strong>Station Name : </Strong><%=@second_nearest_station.station_name%></p>
<p><Strong>Number of steps : </Strong><%=@second_nearest_station.number_of_steps%></p>
<%end%>
  

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
